<main class="w-3/4 m-auto mt-5">
	<div class="text-5xl">
		Add Your Idea
	</div>
	<form action="/stories" method="POST" class="col s12">
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required autocomplete="off" />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Title</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Select 4</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option selected>Public 4</option>
				<option value="1">Private 4</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Select 1</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option selected>Public 1</option>
				<option value="1">Private 1</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Select 2</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option selected>Public 2</option>
				<option value="1">Private 2</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Select 3</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option selected>Public 3</option>
				<option value="1">Private 3</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name
				of the Innovation Generated with the Support of HEI</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Type of Innovation</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Product innovation" selected>Product innovation</option>
				<option value="Process innovation">Process innovation</option>
				<option value="Service innovation">Service innovation</option>
				<option value="Market place Innovation">Market place Innovation</option>
				<option value="Reverse Engineering">Reverse Engineering</option>
				<option value="Management Process">Management Process</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Nature of Innovation</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Technological innovation">Technological innovation</option>
				<option value="Non-Technological / Social / Community Innovation">Non-Technological / Social / Community
					Innovation</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Type of Innovation</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="IP/Patented Technology">IP/Patented Technology</option>
				<option value="Non-Patented Technology">Non-Patented Technology</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Type of Innovation</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="IP/Patented Technology">IP/Patented Technology</option>
				<option value="Non-Patented Technology">Non-Patented Technology</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name
				of the I/E Facility at HEI Supported for the Innovation Development</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Innovation developed by</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Faculty">Faculty</option>
				<option value="Staff">Staff</option>
				<option value="Student">Student</option>
				<option value="Faculty and Student">Faculty and Student</option>
				<option value="Incubatee Entrepreneur">Incubatee Entrepreneur</option>
				<option value="Alumini Entrepreneur">Alumini Entrepreneur</option>
				<option value="Innovator/ Entrepreeur External to institute">Innovator/ Entrepreeur External to institute
				</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name
				of the Principal Innovator</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Principal Innovator Type</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Faculty">Faculty</option>
				<option value="Staff">Staff</option>
				<option value="Student">Student</option>
				<option value="Faculty and Student">Faculty and Student</option>
				<option value="Incubatee Entrepreneur">Incubatee Entrepreneur</option>
				<option value="Alumini Entrepreneur">Alumini Entrepreneur</option>
				<option value="Innovator/ Entrepreeur External to institute">Innovator/ Entrepreeur External to institute
				</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Gender of the Principal Innovator</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
				<option value="Transgender">Transgender</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
				of Principal Innovator</label>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contact
				of Principal Innovator</label>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
				of the Co-Innovator</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Co-Innovator Type</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Faculty">Faculty</option>
				<option value="Staff">Staff</option>
				<option value="Student">Student</option>
				<option value="Faculty and Student">Faculty and Student</option>
				<option value="Incubatee Entrepreneur">Incubatee Entrepreneur</option>
				<option value="Alumini Entrepreneur">Alumini Entrepreneur</option>
				<option value="Innovator/ Entrepreeur External to institute">Innovator/ Entrepreeur External to institute
				</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Gender of the Co-Innovator</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
				<option value="Transgender">Transgender</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
				of the Co-Innovator</label>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contact
				of the Co-Innovator</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Stage of Innovation/Stage of TRL at which it started receiving the Support from
				HEI during the FY 2019-20 </h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="TRL 0">TRL 0: Idea, Unproven Concept, no Testing has been performed.</option>
				<option value="TRL 1">TRL 1: Basic research. Prrincipal postulated and observed but no experimental proof
					available.</option>
				<option value="TRL 2">TRL 2: Technologhy formulation. Concept and application have been formulated.</option>
				<option value="TRL 3">TRL 3: Applied Research. First Laboratory Test Completed: proof of Concept.</option>
				<option value="TRL 4">TRL 4: Small scale prototype tested in intended environment</option>
				<option value="TRL 5">TRL 5: Large scale Prototype system tested in intended environment.</option>
				<option value="TRL 6">TRL 6: Prototype system tested in intended environment close to expected performance.
				</option>
				<option value="TRL 7">TRL 7: Demonstration system operating in operational environment at pre- commercial scaler
				</option>
				<option value="TRL 8">TRL 8: First of kind Commercial system. manufacturing issues solved.</option>
				<option value="TRL 9">TRL 9: Full commercial application, technology available for consumers.</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Stage of Innovation/Stage of TRL reached as on 31st March 2020 </h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="TRL 0">TRL 0: Idea, Unproven Concept, no Testing has been performed.</option>
				<option value="TRL 1">TRL 1: Basic research. Prrincipal postulated and observed but no experimental proof
					available.</option>
				<option value="TRL 2">TRL 2: Technologhy formulation. Concept and application have been formulated.</option>
				<option value="TRL 3">TRL 3: Applied Research. First Laboratory Test Completed: proof of Concept.</option>
				<option value="TRL 4">TRL 4: Small scale prototype tested in intended environment</option>
				<option value="TRL 5">TRL 5: Large scale Prototype system tested in intended environment.</option>
				<option value="TRL 6">TRL 6: Prototype system tested in intended environment close to expected performance.
				</option>
				<option value="TRL 7">TRL 7: Demonstration system operating in operational environment at pre- commercial scaler
				</option>
				<option value="TRL 8">TRL 8: First of kind Commercial system. manufacturing issues solved.</option>
				<option value="TRL 9">TRL 9: Full commercial application, technology available for consumers.</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">What is the current status of Pre-Incubation/Incubation Support to Innovation as
				on 31st March 2020</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Innovation Development Dropped">Innovation Development Dropped </option>
				<option value="Innovation Development Ongoing">Innovation Development Ongoing </option>
				<option value="Innovation Development Completed">Innovation Development Completed </option>
				<option value="Innovation adopted and Implemented at Ground">Innovation adopted and Implemented at Ground
				</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Had the innovation received any award/recognition at state/national/
				international level during the period FY 2019-20 ?</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Award
				/ Position / Recognition Secured</label>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Agency
				Name</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Agency Type</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Govt. Agency (Central)">Govt. Agency (Central)</option>
				<option value="Govt. Agency (State)">Govt. Agency (State)</option>
				<option value="Educational Institution">Educational Institution </option>
				<option value="Corporate/industry Association">Corporate/industry Association</option>
				<option value="Non Govt. Agency">Non Govt. Agency</option>
				<option value="International Agency">International Agency</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Had the Innovation Converted into Venture/Startup/SME Unit during the financial
				period 2019-20?</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Had Centre/institute provided any Financial support (either own resource or fund
				received from agencies) in terms of Seed Grant/Fund Support to Idea / Prototype / Innovations Development during
				the financial period 2019-20</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Grant
				Amount in Rs.</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Had the Innovations raised any Seed fund/Angel Investment/VC during the period
				of receiving pre-incubation/incubation support at your Pre-incubation/incubation or HEI during the financial
				period 2019-20</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Investement
				Agency Name</label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Investement Agnecy Type</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Govt. Agency (Central)">Govt. Agency (Central)</option>
				<option value="Govt. Agency (State)">Govt. Agency (State)</option>
				<option value="Educational Institution">Educational Institution </option>
				<option value="Corporate/industry Association">Corporate/industry Association</option>
				<option value="Non Govt. Agency">Non Govt. Agency</option>
				<option value="International Agency">International Agency</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Total
				Investement Amount in Rs.</label>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Date
				of Investment Raised </label>
		</div>
		<div class="my-10 w-full">
			<h1 class="text-sm text-gray-500">Had the Pre-incubation/Incubation Centre/HEI received any income/revenue from
				Idea/Prototype/Innovations for the pre-incubation/incubation support and the services offered by
				Pre-incubation/incubation or institute during the financial period 2019-20</h1>
			<select class="form-select appearance-none
					block
					w-full
					py-1.5
					text-base
					font-normal
					text-gray-700
					bg-white bg-clip-padding bg-no-repeat
					border-b-2 border-solid border-gray-300
					transition
					ease-in-out
					m-0
					focus:text-gray-700 focus:bg-white focus:border-blue-900 focus:outline-none" aria-label="Default select example">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="relative z-0 my-10 w-full group">
			<input type="text" name="floating_email" autocomplete="off"
				class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-900 peer"
				placeholder=" " required />
			<label for="floating_email"
				class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Amount
				Received in Rs.</label>
		</div>
		<div class="w-full max-w-6xl mx-auto rounded-xl bg-white shadow-lg p-5 text-black" x-data="app()"
			x-init="init($refs.wysiwyg)">
			<div class="border border-gray-200 overflow-hidden rounded-md">
				<div class="w-full flex border-b border-gray-200 text-xl text-gray-600">
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('bold')">
						<i class="mdi mdi-format-bold"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('italic')">
						<i class="mdi mdi-format-italic"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
						@click="format('underline')">
						<i class="mdi mdi-format-underline"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-l border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('formatBlock','P')">
						<i class="mdi mdi-format-paragraph"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('formatBlock','H1')">
						<i class="mdi mdi-format-header-1"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('formatBlock','H2')">
						<i class="mdi mdi-format-header-2"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
						@click="format('formatBlock','H3')">
						<i class="mdi mdi-format-header-3"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-l border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('insertUnorderedList')">
						<i class="mdi mdi-format-list-bulleted"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
						@click="format('insertOrderedList')">
						<i class="mdi mdi-format-list-numbered"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-l border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('justifyLeft')">
						<i class="mdi mdi-format-align-left"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('justifyCenter')">
						<i class="mdi mdi-format-align-center"></i>
					</button>
					<button
						class="outline-none focus:outline-none border-r border-gray-200 w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
						@click="format('justifyRight')">
						<i class="mdi mdi-format-align-right"></i>
					</button>
				</div>
				<div class="w-full">
					<iframe x-ref="wysiwyg" class="w-full h-96 overflow-y-auto"></iframe>
				</div>
			</div>
		</div>
		<div class="grid place-items-center my-14">
			<input type="submit" value="" class="btn">
			<a href="/dashboard">
				<button
					class="bg-transparent hover:bg-blue-900 text-blue-900 font-semibold hover:text-white py-2 px-4 border border-blue-900 hover:border-transparent rounded">
					Button
				</button>
			</a>
		</div>
	</form>
</main>

<script>
	function app() {
		return {
			wysiwyg: null,
			init: function (el) {
				// Get el
				this.wysiwyg = el;
				// Add CSS
				this.wysiwyg.contentDocument.querySelector('head').innerHTML += `<style>
						*, ::after, ::before {box-sizing: border-box;}
						:root {tab-size: 4;}
						html {line-height: 1.15;text-size-adjust: 100%;}
						body {margin: 0px; padding: 1rem 0.5rem;}
						body {font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}
						</style>`;
				this.wysiwyg.contentDocument.body.innerHTML += `
						<h1>Hello World!</h1>
						<p>Welcome to the pure AlpineJS and Tailwind WYSIWYG.</p>
						`;
				// Make editable
				this.wysiwyg.contentDocument.designMode = "on";
			},
			format: function (cmd, param) {
				this.wysiwyg.contentDocument.execCommand(cmd, !1, param || null)
			}
		}
	}
</script>